/build/
/build-*/
/.reorganization/
/.local/
/.cache/
/assets/
/data/
/source/
/recovered/
/ghidra/
__pycache__/
.DS_Store
*.bin
*.img
*.dsk
*.data
*.2bpp
*.NFNT
*.ICON
*.png
!/resources/icon.png
!/resources/perspective.png
!/resources/flat.png
!/resources/combat.png
*.wav
assets.hpp
original.hpp
bitmap_fonts.hpp
animation_data.hpp
